body {
  padding: 50px;
  font-family: "Lucida Grande";
  font-size: 16px;
}

a {
  color: #3b9ae1;
}

.detail-list {
  font-size: 17px;
}

#detail-div {
  margin-left: 40px;
}

#nav-items {
  font-size: 19px;
}

.navbar-brand {
  font-size: 21px;
}

#convo-desc {
  padding-left: 40px;
}

.form-group {
  padding-bottom: 5px;
}

#info {
  padding-top: 30px;
  font-size: 16px;
}

.col-sm-10 {
  padding-bottom: 10px;
}

.title-blue {
  color: #3b9ae1;
}

ul {
  list-style-type: square;
}
